[Desktop Entry]
Name=st
GenericName=Terminal
Comment=Simple terminal emulator for X
TryExec=st
Exec=st
Terminal=false
Type=Application
Encoding=UTF-8
Icon=utilities-terminal
Categories=System;TerminalEmulator;
Keywords=shell;prompt;command;command-line;simple;suckless;
